<div class="title-logo-genre"><h3 class="title">ジャンル一覧・追加</h3></div>
  <div class="genre-index">
    <%= form_with model:@genre ,url:genres_path ,method: :post, local:true do |f| %>
    <%= f.label :ジャンル名 %>
    <%= f.text_field :name %>
    <%= f.submit '新規登録', class: "btn btn-outline-success genre-button" %>
    <% end %>
  </div>

  <div class="genre-index1">
    <table class="table">
      <thead>
        <tr>
          <th>ジャンル名</th>
          <th></th>
        </tr>
      </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
              <td><%= link_to '編集する', edit_genre_path(genre.id), class: "btn btn-outline-success" %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>

