<div class="title-logo"><h3 class="title-admin">管理者ログイン</h3></div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="customer-login">
      <table>
        <tr>
          <td class="customer-label"><%= f.label :'メールアドレス' %></td>
          <td class="customer-field"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
        <tr>
          <td class="customer-label"><%= f.label :'パスワード' %>
          <td class="customer-field"><%= f.password_field :password, autocomplete: "current-password" %></td>
          <td class="customer-label"><%= f.submit "ログイン", class: "btn btn-outline-success" %></td>
        </tr>
      </table>
    </div>
   <% end %>

