<div class="title-logo"><h3 class="title">会員情報編集</h3></div>

<div class="container">
  <%= form_with model: @customer,url: customer_path(@customer.id),method: :patch, local: true do |f|%>
  <div class="row customer-edit">
    <div class="col-3">
      <p>氏名</p>
    </div>
    <div class="col-9">
      <p><%= f.text_field :last_name %><span class="customer-edit-field"><%= f.text_field :first_name %></span></p>
    </div>
  </div>

  <div class="row customer-edit">
    <div class="col-3">
      <p>フリガナ</p>
    </div>
    <div class="col-9">
      <p><%= f.text_field :last_name_kana %><span class="customer-edit-field"><%= f.text_field :first_name_kana %></span></p>
    </div>
  </div>

  <div class="row customer-edit">
    <div class="col-3">
      <p>郵便番号</p>
    </div>
    <div class="col-9">
      <p><%= f.text_field :postal_code %></p>
    </div>
  </div>

  <div class="row customer-edit">
    <div class="col-3">
      <p>住所</p>
    </div>
    <div class="col-9">
      <p><%= f.text_field :address %></p>
    </div>
  </div>

  <div class="row customer-edit">
    <div class="col-3">
      <p>電話番号</p>
    </div>
    <div class="col-9">
      <p><%= f.text_field :telephone_number %></p>
    </div>
  </div>

  <div class="row customer-edit">
    <div class="col-3">
      <p>メールアドレス</p>
    </div>
    <div class="col-9">
      <p><%= f.text_field :email %></p>
    </div>
  </div>

  <div class="row customer-edit1">
    <div class="col-6">
      <p><%= f.submit'編集内容を保存', class: "btn btn-outline-success customer-edit" %></p>
    </div>
    <div class="col-6">
      <button class="customer-modal0 btn btn-outline-danger">退会する</button>
    </div>
  </div>
<% end %>
</div>

       <div class="customer-modal">
         <div class="customer-modal1">
            <h4>本当に退会しますか？</h4>
            <p>
              退会すると会員登録情報や<br/>
              これまでの購入履歴が閲覧できなくなります。<br/>
              退会する場合は、「退会する」をクリックしてください。
            </p>
            <div class="modal-button">
              <button class="customer-modal2 btn btn-primary">退会しない</button>
              <div class="modal-button1"><%= button_to '退会する', withdrawal_path, method: :patch,class: 'btn btn-danger', data: { confilm: '本当に退会しますか？' } %></div>
            </div>
         </div>
       </div>