<div class="title-logo"><h3 class="title">会員情報編集</h3></div>

<div class="container">
  <%= form_with model: @customer,url: customer_path(@customer.id),method: :patch, local: true do |f|%>
  <div class="row customer-edit">
    <div class="col-3">
      <p>氏名</p>
    </div>
    <div class="col-9">
      <p><%= f.text_field :last_name %><span class="customer-edit-field"><%= f.text_field :first_name %></span></p>
    </div>
  </div>

  <div class="row customer-edit">
    <div class="col-3">
      <p>フリガナ</p>
    </div>
    <div class="col-9">
      <p><%= f.text_field :last_name_kana %><span class="customer-edit-field"><%= f.text_field :first_name_kana %></span></p>
    </div>
  </div>

  <div class="row customer-edit">
    <div class="col-3">
      <p>郵便番号</p>
    </div>
    <div class="col-9">
      <p><%= f.text_field :postal_code %></p>
    </div>
  </div>

  <div class="row customer-edit">
    <div class="col-3">
      <p>住所</p>
    </div>
    <div class="col-9">
      <p><%= f.text_field :address %></p>
    </div>
  </div>

  <div class="row customer-edit">
    <div class="col-3">
      <p>電話番号</p>
    </div>
    <div class="col-9">
      <p><%= f.text_field :telephone_number %></p>
    </div>
  </div>

  <div class="row customer-edit">
    <div class="col-3">
      <p>メールアドレス</p>
    </div>
    <div class="col-9">
      <p><%= f.text_field :email %></p>
    </div>
  </div>

  <div class="row customer-edit1">
    <div class="col-6">
      <p><%= f.submit'編集内容を保存', class: "btn btn-outline-success customer-edit" %></p>
    </div>
    <div class="col-6">
      <div class="customer-modal-open"><%= link_to '退会する', new_customer_path, class: "btn btn-outline-danger" %></div>
    </div>
  </div>
<% end %>
</div>

