<h1><%= @customer.name %>さんの会員詳細</h1>

 <table>
  	<tr>
  		<td>会員ID</td>
      <td><%= @customer.id %></td>
    </tr>
    <tr>
  		<td>氏名</td>
      <td><%= @customer.last_name %></td>
      <td><%= @customer.first_name %></td>
    </tr>
    <tr>
  		<td>フリガナ</td>
      <td><%= @customer.last_name_kana %></td>
      <td><%= @customer.first_name_kana %></td>
    </tr>
    <tr>
  		<td>郵便番号</td>
      <td><%= @customer.postal_code %></td>
    </tr>
    <tr>
  		<td>住所</td>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
  		<td>住所</td>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
  		<td>電話番号</td>
      <td><%= @customer.telephone_number %></td>
    </tr>
    <tr>
  		<td>会員ステータス</td>
      <td><%= @customer.is_deleted %></td>
    </tr>
    <tr>
      <td></td>
  		<td><%= link_to '編集する', edit_customer_path(@customer) %></td>
      <td><%= link_to '注文履歴一覧を見る', customers_path(@customer) %></td>
    </tr>


      </table>