<div class="title-logo-mypage"><h3 class="title">マイページ</h3></div>
<div class="mypage">
  <div><%= link_to '編集する', edit_customer_path(@customer), class: "btn btn-outline-success mypage-button1" %></div>

     <table class="table">
      <tr class="tr1">
        <th class="th1">氏名</th>
        <td><%= @customer.last_name %><%= @customer.first_name %></td>
      </tr>
      <tr class="tr1">
        <th class="th1">カナ</th>
        <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
      </tr>
      <tr class="tr1">
        <th class="th1">郵便番号</th>
        <td><%= @customer.postal_code %></td>
      </tr>
      <tr class="tr1">
        <th class="th1">住所</th>
        <td><%= @customer.address %></td>
      </tr>
      <tr class="tr1">
        <th class="th1">電話番号</th>
        <td><%= @customer.telephone_number %></td>
      </tr>
      <tr class="tr1">
    		<th class="th1">メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
    </table>


  <div>
    <%= link_to '配送先一覧', addresses_path,class: "btn btn-outline-primary mypage-button" %>
    <%= link_to '注文履歴一覧', orders_path,class: "btn btn-outline-primary mypage-button" %>
  </div>
</div>