<div class="mypage">
  <div class="mypage1">
    <h3 class="customer-title">マイページ</h3>
  <div class="mypage-button"><%= link_to '編集', edit_customer_path(@customer) %></div>
  <table>
    <tr>
      <th>氏名</th>
      <td><%= @customer.last_name %><%= @customer.first_name %></td>
    </tr>
    <tr>
      <th>カナ</th>
      <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td><%= @customer.postal_code %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td><%= @customer.telephone_number %></td>
    </tr>
    <tr>
  		<th>メールアドレス</th>
      <td><%= @customer.email %></td>
    </tr>
  </table>
  <div class="mypage-button"><%= link_to '配送先一覧', addresses_path %></div>
  <div class="mypage-button"><%= link_to '注文履歴一覧', customers_path %></div>
  </div>
</div>