<div class="order_detail-button0"><h5 class="title">注文情報確認</h5></div>
<%@total = 0 %>
<div class="container">
  <div class="row">

  </div>

  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th>送料</th>

        </tr>
      </thead>
      <tbody>
       <% @totals = 0 %>
        <% @order_details.each do |order_detail| %>
          <tr>
            <td><!--画像と商品名-->
              <%= image_tag order_detail.item.get_image, size:"50x50" %>
              <%= order_detail.item.name %>
            </td>
            <td><!--金額-->
              <%= (order_detail.item.price * 1.1).floor %>
            </td>
            <td>
              <%= @totals += order_detail.quantity %>
            </td>
            <td><%= (order_detail.item.price * 1.1).floor * order_detail.quantity %></td>
            <% @total +=  (order_detail.item.price * 1.1).floor * order_detail.quantity %>
            <td><%= 800 %></td>
          </tr>
        <% end %>

      </tbody>
     </table>
   </div>


   <div class="row">
     <div class="col-2">
       <h4>支払方法</h4>
       <h4>お届け先</h4>
     </div>
    <div class="col-10">
      <h4><%= @order.payment_method %></h4>
      <h4>〒<%= @order.postal_code %><%= @order.address %><%= @order.name %></h4>
    </div>


   </div>
   <div class="row justify-content-end">

     <%= link_to "注文を確定する", cart_items_ending_path,class: "btn btn-outline-success" %>
     <h4>商品合計:<%= @total %></h4>
     <h4>合計:<%= @total + 800 %></h4>
   </div>
  </div>




