<h1>注文情報確認</h1>

<%= @order.postal_code %>
<%= @order.address %>

支払い方法<%= @order.payment_method %>

  <thead>
    <tr class = "information">
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @total = 800 %>
    <% @order_details.each do |order_detail| %>
      <tr class = "body">
        <td>
          <%#= order_detail.item.image %>
          <%= order_detail.item.name %>

        </td>
        <td><%= (order_detail.item.price * 1.1).floor %></td>
        <td>
        <%= order_detail.quantity %>
        </td>
        <td><%= (order_detail.item.price * 1.1).floor * order_detail.quantity %></td>
        <% @total +=  (order_detail.item.price * 1.1).floor * order_detail.quantity %>
       </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "買い物を続ける",products_path %>
<h1>合計金額:<%= @total %></h1>
<%#= link_to "情報入力に進む", %>
