<div class="title-logo"><h3 class="title">注文情報入力</h3></div>

<%= form_with model:@order,url:orders_path,method: :post,local: true do |f| %>
<div class="container">
    <div class="row">
      <div class="col-2">
        <h5><strong>支払い方法</strong></h5>
      </div>
      <div class="col-4">
        <%= f.radio_button :payment_method, "credit_card" %>
        <%= f.label :payment_method, "クレジットカード" %>
        <%= f.radio_button :payment_method, "transfer" %>
        <%= f.label :payment_method, "銀行振込" %>
      </div>
    </div>
    <div class="row order-new-address">
      <div class="col-2">
        <h5><strong>お届け先</strong></h5>
      </div>
      <div class="col-10">
        <%= f.radio_button :address,current_customer.address %>
        <strong><%= f.label :address,"ご自身の住所" %></strong>
        〒 <%= current_customer.postal_code %><%= current_customer.address %>
        <%= current_customer.last_name %><%= current_customer.first_name %>
      </div>
    </div>
    <div class="row order-new-address">
      <div class="col-md-10 offset-md-2">
        <%= f.radio_button :address,current_customer.addresses %>
        <strong><%= f.label :'登録済住所から選択' %></strong>
        <%= f.select :address, options_from_collection_for_select(Address.all, :id, :address_display) %>
      </div>
    </div>
    <div class="row order-new-address">
      <div class="col-md-10 offset-md-2">
        <%= f.radio_button :address, "address_id" %>
        <strong><%= f.label :address, "新しいお届け先" %></strong>
      </div>
      <div class="row">
        <div class="col-4 offset-md-4">
          <p><%= f.label :'郵便番号' %></p>
          <p><%= f.label :'住所' %></p>
          <p><%= f.label :'宛名' %></p>
        </div>
        <div class="col-4">
            <p><%= f.text_field :postal_code, placeholder: "〒" %></p>
            <p><%= f.text_field :address, placeholder: "住所"%></p>
            <p><%= f.text_field :name, placeholder: "名前" %></p>
          </div>
      </div>
    </div>
         <p class="order-new-address-button"><%= f.submit '確認画面へ進む', class: "btn btn-outline-success" %></p>
  <% end %>
</div>