<li class="list-none">
    <%= cart_item.item.name %>
    <%= cart_item.item.price %>
    <%= form_with(url: update_item_url, method: :post,local: true) do |f| %>
    <%= f.hidden_field :item_id, value: cart_item.item.id %>
    <%= f.number_field :quantity ,value: cart_item.quantity %>
    <%= f.submit "更新", class: "" %>
    <% end %>
    <%= button_to "削除", delete_item_path(item_id: cart_item.item.id), method: :delete,
                                       data: { confirm: "商品を削除しますか？" } %>
</li>