<div class="customer-signup">
   <div class="customer-signup2">
      <div class="title-logo"><h3 class="title">新規会員登録</h3></div>
     <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
     <%= render "public/shared/error_messages", resource: resource %>
        <p><%= f.label :'名前' %></p>
        <p><%= f.label :'(姓)' %><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %></p>
        <p><%= f.label :'(名)' %><%= f.text_field :first_name,  autocomplete: "first_name" %></p>
        <p><%= f.label :'フリガナ' %></p>
        <p>(セイ)<%= f.text_field :last_name_kana, autocomplete: "last_name_kana" %></p>
        <p>(メイ)<%= f.text_field :first_name_kana,  autocomplete: "first_name_kana" %></p>
       <p><%= f.label :'メールアドレス' %></p>
       <p><%= f.email_field :email, autocomplete: "email" %></p>
       <p><%= f.label :'郵便番号(ハイフンなし)' %></p>
       <p><%= f.text_field :postal_code, autocomplete: "postal_code" %></p>
       <p><%= f.label :'住所' %></p>
       <p><%= f.text_field :address, autocomplete: "address" %></p>
       <p><%= f.label :'電話番号(ハイフンなし)' %></p>
       <p><%= f.text_field :telephone_number, autocomplete: "telephone_number" %></p>
       <p><%= f.label :'パスワード(6文字以上)' %>
        <% if @minimum_password_length %>
        <em>(<% @minimum_password_length %> characters minimum)</em>
        <% end %></p>
       <p><%= f.password_field :password, autocomplete: "new-password" %></p>
       <p><%= f.label :'パスワード確認用' %></p>
       <p><%= f.password_field :password_confirmation, autocomplete: "new-password" %></p>
       <p><%= f.submit "新規登録" %></p>
    <% end %>

    <h5>すでに登録済の方は<%= render "public/shared/links" %>からログインしてください</h5>
   </div>
</div>

