<h2>ショッピングカート</h2>
<table>
  <thead>
    <tr class = "information">
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |cart_item| %>
      <td>
        <%#= cart_item.item.image %>
        <%= cart_item.item.name %>
      </td>
      <td><%= cart_item.item.price %></td>
      <td>
        <%= form_with model:@cart_item, url:cart_items_path, method: :patch,local:true do |f| %>

          <%= f.select :quantiy, *[1..100] %>
          <%= f.submit '変更' %>
        <% end %>
      </td>
      <td><%= cart_item.item.price %></td>
      <td><%#= link_to "削除する",カートの詳細(カート指定の引数), method: :delete, "data-confirm" => "削除しますか？" %><td>
    <% end %>
  </tbody>
</table>
