<div class="title-logo-admin"><h3 class="title-admin">商品編集</h3></div>

<%= form_with model: @product,url: product_path(@product.id), method: :patch, local: true do |f| %>

商品名<%= f.text_field :name %>
商品説明<%= f.text_field :introduction %>
税抜価格<%= f.text_field :price %>
<%= f.submit '変更を保存' %>

<% end %>
