
<div class="container">

  <div class="row">
    <h3 class="title-admin-item-index">商品一覧(全<%= @items.count %>件)</h3>
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <!--<th>ステータス</th>-->
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item|%>
            <tr>
              <td><%= item.id %></td>
              <td><%= link_to item.name, product_path(item.id) %></td>
              <td><%= item.price %></td>
              <td><%= item.genre.name %></td>
              <td><%#= item.is_active %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= link_to "商品新規登録へ", new_product_path, class: "btn btn-outline-success products-new-button" %>

