<div class="container">
  <div class="row item-show-top">

    <div class="col-2">
      <div class="genre">

      </div>
    </div>

    <div class="col-4">
      <div class="item-image">
        <div class="row">
        <%= image_tag @item.get_image, size: "200x200" %>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="item-show">
         <div class="row">
         </div>
        <div class="row">
          <h1><strong><%= @item.name %></strong></h1>
        </div>

        <div class="row item-show-top1">
          <h3><%= @item.introduction %></h3>
        </div>

        <div class="row item-show-top1">
          <h2><strong>￥<%= (@item.price * 1.1).floor %></strong></h2><div class="item-show-top2">(税込)</div>
        </div>

        <div class="row item-show-top">
          <%= form_with model:@cart_item, url:cart_items_path, method: :post,local:true do |f| %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.select :quantity, *[1..10] %>
          <%= link_to "編集する", edit_product_path(@item.id), class: 'btn btn-outline-success' %>
          <% end %>
        </div>
      </div>
    </div>


  </div>
</div>

