<div class="customer-login">
    <div class="title-logo"><h3 class="title">ログイン</h3></div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="customer-login1">
      <p class="customer-login2">会員の方はこちら</p>
      <table>
        <tr>
          <td><%= f.label :'メールアドレス' %>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
        <tr>
          <td><%= f.label :'パスワード' %>
          <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "ログイン" %></td>
        </tr>
      </table>

      <div>
        <p class="customer-login2">会員登録がお済でない方</p>
        <%= render "public/shared/links" %>から新規登録を行ってください</p>
      </div>

    </div>
   <% end %>
</div>





